@font-face {
  font-family: "Rubik Glitch";
  src: url("../public/RubikGlitch-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Michroma";
  src: url("../public/Michroma-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Rubik Glitch";
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
}

header {
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}

footer {
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
  position: fixed;
  bottom: 0;
}

h1 {
  font-family: "Michroma";
}
nav ul {
  display: flex;
  justify-content: space-around;
  margin-block: 1rem;
  gap: 1rem;
  margin-inline: auto;
}

.hidden {
  display: none;
}
